.edit-user{
    display: flex;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 2px solid lightgray;
    align-items: center;
    &_button{
        margin-right: 0.5rem;
    }

    &_email{
        margin: 0;
    }
}

.admin-update-page{
    margin: auto;
    max-width: 768px;
}

.admin-update-list{
    padding: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}