.edit-user-form{
    display: flex;
    flex-direction: column;
    align-items: center;

    &_email{
       margin: 0; 
    }
    &_input{
        margin-bottom: 0.5rem;
    }
}

.type-radio{
    display: flex;
    &_text{
        margin: 0;
    }
}

.radio-buttons{
    margin-bottom: 0.5rem;
}

